.VerificarIdadeUm{
    display: flex;
    justify-content: center;
    background-color: green;
    color: yellow;

  
    margin: 16px;
}

.VerificarIdadeDois{
    display: flex;
    justify-content: center;
    background-color: red;
    color: yellow;

  
    margin: 16px;
}